<h1>index of feature</h1>
<p>cards of each feature leading to a show page</p>

<ol>
    <li><%= link_to "drumkit", drumkit_path  %></li>
    <li><%= link_to "clock", clock_path  %></li>
    <li><%= link_to "variables", variables_path  %></li>
    <li><%= link_to "gallery", gallery_path  %></li>
    <li><%= link_to "ajax", ajax_path  %></li>
    <li><%= link_to "canvas", canvas_path  %></li>
    <li><%= link_to "checkboxes", checkboxes_path  %></li>
    <li><%= link_to "video", video_path  %></li>
</ol>
 
