<ol>
    <li><%= link_to "drumkit", drumkit_path  %></li>
    <li><%= link_to "clock", clock_path  %></li>
    <li><%= link_to "variables", variables_path  %></li>
    <li><%= link_to "gallery", gallery_path  %></li>
    <li><%= link_to "ajax", ajax_path  %></li>
    <li><%= link_to "canvas", canvas_path  %></li>
    <li><%= link_to "checkboxes", checkboxes_path  %></li>
    <li><%= link_to "video", video_path  %></li>
    <li><%= link_to "delegation", delegation_path  %></li>
</ol>
 
