<ol>
    <li><%= link_to "drumkit", drumkit_path  %></li>
    <li><%= link_to "clock", clock_path  %></li>
    <li><%= link_to "variables", variables_path  %></li>
    <li><%= link_to "gallery", gallery_path  %></li>
    <li><%= link_to "ajax", ajax_path  %></li>
    <li><%= link_to "canvas", canvas_path  %></li>
    <li><%= link_to "checkboxes", checkboxes_path  %></li>
    <li><%= link_to "video", video_path  %></li>
    <li><%= link_to "delegation", delegation_path  %></li>
    <li><%= link_to "sequence", sequence_path  %></li>
    <li><%= link_to "scroll", scroll_path  %></li>
    <li><%= link_to "mouse", mouse_path  %></li>
    <li><%= link_to "sorting", sorting_path  %></li>
    <li><%= link_to "reduce", reduce_path  %></li>
    <li><%= link_to "webcam", webcam_path  %></li>
    <li><%= link_to "speech", speech_path  %></li>
    <li><%= link_to "speedometer", speedometer_path  %></li>
    <li><%= link_to "followlinks", followlinks_path  %></li>
    <li><%= link_to "speechsynthesis", speechsynthesis_path  %></li>
    <li><%= link_to "stickynav", stickynav_path  %></li>
    <li><%= link_to "bubbling", bubbling_path  %></li>
    <li><%= link_to "stripedropdown", stripedropdown_path  %></li>
    <li><%= link_to "clickanddrag", clickanddrag_path  %></li>
    <li><%= link_to "videospeed", videospeed_path  %></li>
    <li><%= link_to "countdown", countdown_path  %></li>
    <li><%= link_to "whackamole", whackamole_path  %></li>
</ol>
 